html, body {
    width: 100%;
    height: 100%;
}

.login-page {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: fixed;
}

.login-card {
    border-radius: 12px;
    padding: 20px 40px 20px 40px;
}

.login-image {
    height: 100vh;
    width: 100vw;
}

.text-small {
    font-size: 16px;
}

/* Auth button */
#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('https://img.icons8.com/ios/50/000000/google-logo.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }

  .auth-form {
      width: 300px;
      float: left;
      margin-left: 12px;
  }